---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Nakaki</h1>
  <p>йҖІжҚ—е ұе‘ҠгӮөгӮӨгғҲрҹ‘ҫ</p>

  <a href={`${import.meta.env.BASE_URL}/works`}>Works</a><br>
  <a href={`${import.meta.env.BASE_URL}/diary`}>Diary</a>
</Layout>